/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.mak-ajax-load-more {

	.mak-ajax-load-more-posts-list.grid {
		list-style: none;
		margin: 0;
		padding: 0px;
		gap: 1.5em;
		display: grid;

		@for $i from 2 through 4 {
			&.columns-#{ $i } {
				grid-template-columns: repeat(#{ $i }, 1fr);
			}
		}

		li {

			.malm-thumbnail {
				max-width: 100%;
				border-radius: 5px;
			}

			.malm-date {
				max-width: 100%;
			}

			h2 {
				margin-top: 0;
				font-size: 20px;
			}
		}

	}

	.mak-ajax-load-more-posts-list.list {
		list-style: none;
		margin: 0;
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		column-gap: 20px;

		li {
			column-gap: 20px;
			display: flex;
			margin-bottom: 20px;

			.malm-thumbnail {
				max-width: 100%;
				border-radius: 5px;
				height: auto;
				
			}

			.malm-date {
				max-width: 100%;
			}

			.malm-content {
				h2 {
					margin-top: 0;
					margin-bottom: 10px;
					font-size: 30px;
					display: inline-flex;
					vertical-align: top;
				}

				p {
					margin: 0;
				}
			}
		}

	}
}